<div class="col-md-12">
    <p-table #dt [columns]="cols" [value]="bills" [paginator]="true" [rows]="25" dataKey="id">
        <ng-template pTemplate="caption">
            <div style="text-align: left ; float: left;">        
                All Bill List    
              </div>
            <div style="text-align: right">        
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3em"></th>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th  >Action</th>
            </tr>
            <tr>
                <th  ></th>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" style="width: 100%;">
                    <input *ngSwitchCase="'billNo'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" style="width: 100%;">
                    <input *ngSwitchCase="'billDate'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" style="width: 100%;">
                    <input *ngSwitchCase="'partyname'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" style="width: 100%;">
                    
                    <input *ngSwitchCase="'type'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" style="width: 100%;">
                    <input *ngSwitchCase="'total'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" style="width: 100%;">
                    
                </th>
                    <th  >  </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td>
                    <a href="#" [pRowToggler]="rowData">
                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                    </a>
                </td>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
                <td>
                   
                    <a class="btn btn-sm btn-primary" routerLink="/officer/bill/billedit" [queryParams]="{ id : rowData[columns[0].field] }">
                        Edit
                    </a> &nbsp;&nbsp;
                    
                    
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
            <tr>
                <td [attr.colspan]="columns.length + 2">
                    <div class="p-grid -fluid" style="font-size:16px;padding:20px">
                        
                        <div class="col-md-9" style="float: left;" id="sectionToPrint{{rowData.id}}"> 
                            <div style="padding: 10px 10px;"> 
                            
                                
                            <table id="tt" style="background-color: #dddddd;">
                                <tbody>
                                    <tr>
                                        <td>
                                            Branch Name
                                        </td>
                                        <td> :</td>
                                        <td colspan="4">
                                            {{rowData.branchname}}    
                                        </td>
                                        
                                         
                                    </tr>
                                    <tr>
                                        <td>Bil No</td>
                                        <td>:</td>
                                        <td colspan="2"> {{rowData.billNo}}</td>
                                        <td > Date :</td>
                                        <td> {{rowData.billDate}}</td>
                                    </tr>
                                    <tr>
                                        <td>Party Name</td>
                                        <td>:</td>
                                        <td colspan="4" id="partyName"> {{rowData.partyname}} </td>
        
                                    </tr>
                                </tbody>
                            </table>
        
        
                            <table id="tt2" style="border-collapse: collapse;">
        
                                <thead>
                                    <tr>
                                        <td>SL</td>
                                        <td>ITEM</td>
                                        <td>UNIT</td>
                                        <td>TOTAL</td>
                                    </tr>
                                </thead>
        
         
                                <tbody>
                                    <tr *ngFor="let p of rowData.itemList; let i = index" >
                                        <td>
                                            {{i+1}}
                                        </td>
                                        <td>{{p.productname}}</td>
                                        <td>
                                            {{p.quantity}} KG * {{p.sellPrice}} TK
                                        </td>
                                        <td>
                                            {{p.itemtotal2}} TK
        
                                        </td>
                                    </tr>
        
        
        
                                    <tr>
                                        <td colspan="2"></td>
        
                                        <td style="background-color: #dddddd;">{{rowData.totalqty}} KGS </td>
                                        <td style="background-color: #dddddd;">{{rowData.total}} TK </td>
                                    </tr>
                                </tbody>
                            </table>
        
        
                        </div>   
                    </div>
                    <div class="col-md-3" style="float: left; padding: 10px 10px;">
                        <button class="btn btn-lg btn-success" (click)="onPrint('sectionToPrint'+rowData.id)"> Print Bill</button>
                    </div>
        
                        
                    
    
    
    
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    
    </div>